@font-face {
    font-family: 'AaarghBold';
    src: local('AaarghBold'), local('AaarghBold'), url('../fonts/Aaargh/AaarghBold/AaarghBold.ttf') format('truetype');
}

@font-face {
    font-family: 'ACLine';
    src: local('ACLine'), local('ACLine'), url('../fonts/ACLine/ACLineRegular/ACLineRegular.ttf') format('truetype');
}